#contenedor{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: auto;
    width: 98%;
    height: 70vh;
    margin-bottom: 1%;
    /* border: 1px solid gray; */
    position:relative;
    left: 1%;
    top: 5vh;
}



.celda{
    border: 1px solid gray;
    margin:10px;
    text-align: center;
    background-color: rgb(250, 250, 88);
    border-radius: 4px;
    font-weight: bold
}

#logo{
    margin: auto;
    width: 20%;
    height: 10%;
    display: block;
}

#pokemonName{
    width: 30%;
    position: relative;
    left: 35%;
    top: 1.5vh;
    height: 4vh;
    border-radius: 8px;
}

#buscaPokemon{
    width: 10%;
    position: relative;
    left: 35%;
    top: 1.5vh;
    height: 3vh;
    background-color: #F6CF57;
    border-radius: 8px;
}

.celda:hover{
    background-color: red;
}

/* ---------------------------------------------------------------------------- */

#divPokemon {
    margin-left: 20%;
    width: 60%;
    margin-top: 2%;
    height: 72vh;
    background-color: rgb(245, 244, 244);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
}

#imgDetalle{
    width: 95%;
    height: auto;
    margin-left: 2%;
    background-color: #eaeaea;
}

#detallesBasicos{
    font-weight: bold;
    background-color: #eaeaea;
    width: auto;
    font-family: 'Trebuchet MS';
}

#nombreTitulo{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 2em;
}

#habilidades{
    background-color: #eaeaea;
    width: 95%;
    height: 44%;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

#tipos{
    width: auto;
    text-align: center;
    border-radius: 8px;
}

#contornoBarra{
    border:2px solid black;
    border-radius: 3px;
    height: 15px;
    width: 255px;
}

#rellenoBarra{
    background-color: #F6CF57;
    height: 15px;
}

#estadisticas{
    background-color: #eaeaea;
    width: auto;
    height: auto;
}

table{
    border: 1px solid black;
}