*{
    font-family: 'Trebuchet MS';
    font-weight: bold;
}
html{
    background-image: url('img/Fondo.jpg');
}
#contenedor{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: auto;
    width: auto;
    height: 74vh;
    margin-top: 1%;
    background-color: rgba(1, 1, 1, 0); /* RGBA: rojo, verde, azul, alfa */
}

body{
    background-color:  rgba(1, 1, 1, 0.1);
}



.celda{
    border: 1px solid gray;
    margin:10px;
    text-align: center;
    background-color: rgb(250, 250, 88);
    border-radius: 4px;
    font-weight: bold
}

#logo{
    margin: auto;
    width: 20%;
    height: 10%;
    display: block;
}

#pokemonName{
    width: 30%;
    position: relative;
    left: 35%;
    top: 1.5vh;
    height: 4vh;
    border-radius: 8px;
}

#buscaPokemon{
    width: 10%;
    position: relative;
    left: 35%;
    top: 1.5vh;
    height: 3vh;
    background-color: #F6CF57;
    border-radius: 8px;
}

.celda:hover{
    background-color: red;
}

/* ---------------------------------------------------------------------------- */

#divPokemon {
    margin: 2% auto;
    width: 60%;
    height: 72vh;
    background-color: rgb(245, 244, 244);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
}

#imgDetalle{
    transform: scale(1.1);
    width: 74%;
}

#detallesBasicos{
    font-weight: bold;
    background-color: #eaeaea;
    width: auto;
    font-family: 'Trebuchet MS';
}

#nombreTitulo{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 2em;
}

#habilidades{
    margin-top: 1%;
    background-color: #eaeaea;
    height: 100%;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

#tipos{
    width: auto;
    text-align: center;
    border-radius: 8px;
}

#contornoBarra{
    border:2px solid black;
    border-radius: 3px;
    height: 15px;
    width: 150px;
}

#rellenoBarra{
    background-color: #F6CF57;
    height: 15px;
}

#estadisticas{
    margin-top: 1%;
    margin-right: 2%;
    background-color: #eaeaea;
    width: auto;
    height: auto;
}

table{
    border: 1px solid black;
    width: 98%;
    margin-left: 1%;
}

#evolucion0{
    background-color: #eaeaea;
    margin-bottom: 2%;
    margin-left: 2%;
}

#evolucion1{
    background-color: #eaeaea;
    margin-bottom: 2%;
}

#evolucion2{
    background-color: #eaeaea;
    margin-bottom: 2%;
    margin-right: 2%;
}

#tituloStats{
    font-weight: bold;
}

#imagen{
    background-color: #eaeaea;
    margin-top: 2%;
    margin-left: 2%;
}
#nombreEvolucion{
    font-weight: bold;
}

#idNombre span{
    display: block;
    flex-direction: column;
}

#idNombre{
    font-weight: bold;
    height: 2vh;
}

#imgEvolucion0, #imgEvolucion1, #imgEvolucion2{
    box-sizing: border-box;
    margin-top: 5%;
    width: 50%;
    height: 20vh;
}